label {
  padding: 0px 20px 0px 20px
}

input {
  margin-left: 20px
}

.App {
  text-align: center;
}

.App-header {
  height: 10vw;
  background:white
}

.info-container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column
}

.phonebook-container {
  display:flex;
  flex-direction: row
}

.phonebook-headers {
  display:flex;
  flex-direction:row
}

.phonebook-headers h3 {
  padding: 0px 20px 0px 20px
}

.phonebook {
  display:flex;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
}